project:
  name: "UWA Motorsports Accumulator Cooling Control"
  version: "1.0.0"
  author: "Franco Heraud"
  contributor(s): "..."      


hardware:
  mcu:
    type: "STM32F412"
    adc_resolution_bits: 12
    adc_vref: 3.3
    timer_tick_hz: 1000000    
  fans:
    count: 2
    pulses_per_rev: 1
    pwm:
      min_duty: 0.2
      max_duty: 0.95
      resolution: 255


communication:
  type: "CAN 2.0A"
  can_ids:
    base: 0x440
    temp: 0x441
    pressure: 0x442
    seg_temp: 0x443
    tach: 0x444
    power: 0x445

sensors:
  pressure:
    - name: "Pin1"
      adc_channel: 1

    - name: "Pin2"
      adc_channel: 2

    - name: "Pin3"
      adc_channel: 3

    - name: "Pin4"
      adc_channel: 4

  temperature:
    sensors:
      - name: "Tin1"
        adc_channel: 5
      
      - name: "Tin2"
        adc_channel: 6
        
      - name: "Tin3"
        adc_channel: 7
        
      - name: "Tin4"
        adc_channel: 8
    
    
control:               
  temp_threshold1: 40
  temp_threshold2: 60
  hysteresis_degC: 3

num_seg_temp: 4





