project:
  name: "UWA Motorsports Accumulator Cooling Control"
  version: "1.0.0"
  author: "Franco Heraud"
  contributor(s): "..."      # feel free to become a contributor and add your name here if keen!

hardware:
  mcu:
    type: "STM32F412"
    adc_resolution_bits: 12
    adc_vref: 3.3
    timer_tick_hz: 1000000    
  fans:
    count: 2
    pulses_per_rev: 1
    pwm:
      min_duty: 0.2
      max_duty: 0.95


communication:
  type: "CAN 2.0A"
  can_ids:
    acc_base: 0x440
    acc_temp: 0x441
    acc_pressure: 0x442
    acc_seg_temp: 0x443
    acc_tach: 0x444
    acc_power: 0x445

sensors:
  pressure:
    - name: "p1"
      adc_channel: 1
      min_psi: 0
      max_psi: 100
    
    - name: "p2"
      adc_channel: 2
      min_psi: 0
      max_psi: 100

    - name: "p3"
      adc_channel: 3
      min_psi: 0
      max_psi: 100
    
    - name: "p4"
      adc_channel: 4
      min_psi: 0
      max_psi: 100


  temperature:
    common:
      coefficients:     # Steinhart-Hart coefficients
        a: 0.003354016
        b: 0.000250275
        c: 2.42945e-6
        d: -7.3121e-8
    sensors:
      - name: "t1"
        adc_channel: 5
      
      - name: "t2"
        adc_channel: 6
        
      - name: "t3"
        adc_channel: 7
        
      - name: "t4"
        adc_channel: 8
        

control:                # TODO: Find out if there are any more critical thresholds to consider
  temp_threshold1: 40
  temp_threshold2: 60
  hysteresis_degC: 3




